.product {
    margin: 2rem 0.5rem;
    width: 270px;
    background-color: rgba(218, 215, 210, 0.14);
    box-shadow: 3px 2px 12px 3.5px #e0ebeb;
}

.product img {
    width: 270px;
    height: 300px;
}

.product-info {
    padding: 1rem;
}

@media screen and (min-width: 1200px) {
    .product {
        width: 350px;
        margin-bottom: 2rem;
    }

    .product img {
        width: 350px;
        height: 330px;
    }

}