.google-button {
    color: white;
    background-color: rgb(18, 24, 22);
    font-size: 18px;
    border: 2px solid rgb(18, 24, 22);
    border-radius: 0.5rem;
}

.google-button:hover {
    background-color: white;
    border: 2px solid rgb(18, 24, 22);
    color: rgb(18, 24, 22);
}